.container {
    outline: dashed;
    display: flex;
    height: 50vh; /* necessita de altura para utilizar o align-items ou o align-content */
    align-content: space-between; /* não funciona se não aplicar o flex-wrap */
    /* align-items: center; */
    flex-wrap: wrap; /* se o valor passar do limite da tela, os próximos elementos são colocados abaixo */
}

.item {
    --hue: 0;
    background-color: hsl(var(--hue), 100%, 60%);
    width: 210px; /* mesmo que seja um valor muito alto, o flex ajusta tudo para dentro do campo de visualização */
}