.tableless-ano {
    float: left;
}

.tableless-valor {
    float: right;
}

/* .tableless-valor {
    clear: right;

    bem interessante porque eles ficam parecido com o table, exceto pelo espaçamento
} */

.flexbox {
    clear: both; /* sem isso o normal flow não retorna, o tableless se mantém. */
    display: flex;
    /* justify-content: center; centraliza o conteúdo, mas se tiver margem diferente pode ser necessário utilizar align items ou margin: 0 */
    justify-content: space-around; /* espaços ao redor */
    align-items: center; /* fez a mesma coisa do margin: 0, mas acredito que zerar as margens é o mais recomendado a se fazer */
}

/* .flexbox p {
    margin: 0; utilizando sem margin 0 os elementos p e span ficaram desalinhados; p ficou abaixo, enquanto span ficou acima. O margin 0 faz com que fiquem retinho em uma só linha

    OBS: Acho que isso só acontece utilizando a tag semântica p dentro de uma div, se utilizar a div sem tag p ele fica alinhado também
} */

.grid {
    display: grid; /* aparenta ser um display block */
    grid-template-columns: 20px 20px;
}