body {
    margin: 0;
}

#app {
    display: grid;
    
    grid-template:
    "A B B" 80px /* px de altura */
    "A B B" 40px
    "A C D" 50px / 80px 1fr 2fr; /* tudo após a barra é o grid template columns */

    /* gap: 20px; shorthand; serve para linhas e colunas */
    row-gap: 20px; /* somente linhas */
    column-gap: 20px; /* somente colunas */

    height: 100vh;

    padding: 30px;

    box-sizing: border-box;
}

#app > * {
    border: 1px solid red;
}

#app header {
    /* 1° forma */

    /* grid-area: A; coloca a mesma letra/nome do template areas, sem aspas */

    /* 2° forma */

    grid-area: A;
}

#app main {
    grid-area: B;
}