/* border */
.border {
    border: 1px solid red; /* junção de todos os três abaixo */
    /* border-width: 4px 2px 6px 15px; */
    /* border-style: dotted solid double dashed; */
    /* border-color: red green blue black; */
    /* também dá para mexer somente em uma borda */
}

div, span {
    /* no inline não aplica */
    min-width: 200px;
    width: 250px; /* largura */
    max-width: 300px;

    min-height: 200px;
    height: 250px; /* altura */
    max-height: 300px;
}